<label class="text-lg capitalize font-bold">{{ widget.label }}</label>
<div data-autocomplete class="w-full">
  <div class="relative">
    <input
      data-autocomplete-input
      placeholder="{{ placeholder }}"
      class="w-full py-2 px-4 rounded {{ class }}"
    />
    <div
      data-autocomplete-sugestions
      class="absolute bg-white w-full max-h-[200px] border-gray-300 top-[calc(100%+2px)]"
    ></div>
  </div>
  <div data-autocomplete-selected class="flex gap-2 justify-start items-center mt-2">
    {% if filter_variant %}      
      {% for tag in tags_selected %}
        <div
          data-value="{{ tag.value }}"
          class="bg-gray-500 flex items-center gap-2 px-4 py-2 rounded-lg text-white"
        >
          <span>{{ tag.name }}</span>
          <span data-remove class="text-xl">&times;</span>
        </div>
      {% endfor %}
    {% else %}
      {% for value in widget.optgroups %}
        {% if value.1.0.selected %}
          <div
            data-value="{{ value.1.0.value }}"
            class="bg-gray-500 flex items-center gap-2 px-4 py-2 rounded-lg text-white"
          >
            <span>{{ value.1.0.label }}</span>
            <span data-remove class="text-xl">&times;</span>
          </div>
        {% endif %}  
      {% endfor %}
    {% endif %}
  </div>
</div>
