@tailwind base;
@tailwind components;
@tailwind utilities;

a.note-card-title:hover ~ div.note-card-hover {
  opacity: 1;
}

li.tag-item:hover div.tag-item-hover {
  opacity: 1;
}

[data-content] > * {
  white-space: pre-wrap;
}

#content-container {
  transform: translateY(0);
}

#content-container.close-filters {
  --filters-height: 0;
  transform: translateY(calc(var(--filters-height) * -1px));
}

#filters-container {
  overflow: visible;
}

#content-container.close-filters #filters-container {
  overflow: hidden;
}

.z-50 {
  z-index: 50;
}

.p-2 {
  padding: 0.5rem;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.top-6px {
  top: 6px;
}
