@tailwind base;
@tailwind components;
@tailwind utilities;

a.note-card-title:hover ~ div.note-card-hover {
  opacity: 1;
}

li.tag-item:hover div.tag-item-hover {
  opacity: 1;
}

[data-content] > * {
  white-space: pre-wrap;
}

#filters-container {
  height: 72px;
  overflow: hidden;
  transition: all 200ms linear;
}

#filters-container.close {
  height: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  transform: translateY(-2px);
}

.z-50 {
  z-index: 50;
}

.p-2 {
  padding: 0.5rem;
}

.border-b-2 {
  border-bottom-width: 2px;
}
