{% load utils %}
<article class="flex flex-col bg-gray-100 p-4 rounded-lg gap-2 relative z-0">
  <a
    class="note-card-title w-fit z-10"
    {% if not view.deactivate %}
      href="{% url 'notes-detail' note.data.id %}"
    {% endif %}
  >
    <h2
      class="font-bold text-xl max-h-20 capitalize cursor-pointer overflow-hidden w-fit transition-transform hover:scale-110"
    >
      {{ note.data.title }}
    </h2>
  </a>
  <div class="note-card-hover opacity-0 hover:opacity-100 absolute w-full h-full left-0 top-0">
    <div class="flex gap-2 py-2 px-3 absolute right-0 top-0">
      {% if deleted %}
        <span
          data-url="{% url 'notes-restore' note.data.id %}"
          data-confirm-modal
          data-modal-title="Confirm Restore"
          data-modal-text="Do you really want to restore this item?"
          class="cursor-pointer transition-transform hover:scale-110"
        >
          <i class="fa fa-undo text-gray-700" aria-hidden="true"></i>
        </span>
      {% else %}
        {% if note.data.note.like_set.all|filter_current_user_like:user %}
          <form
            data-favorite-note
            action="{% url 'notes-starred' note.data.id %}"
            method="post"
          >
            {% csrf_token %}
            <input
              class="invisible"
              type="checkbox"
              name="is_liked"
              id="id_is_liked"
              checked
            />
            <i
              data-star
              class="fa fa-star text-yellow-600 cursor-pointer transition-transform hover:scale-110"
              aria-hidden="true"
            ></i>
          </form>
        {% else %}
          <form
            data-favorite-note
            action="{% url 'notes-starred' note.data.id %}"
            method="post"
          >
            {% csrf_token %}
            <input
              class="invisible"
              type="checkbox"
              name="is_liked"
              id="id_is_liked"
            />
            <i
              data-star
              class="fa fa-star-o text-gray-700 cursor-pointer transition-transform hover:scale-110"
              aria-hidden="true"
            ></i>
          </form>
        {% endif %}
        {% if note.type != 'READER' %}
          <a
            class="transition-transform hover:scale-110"
            href="{% url 'notes-update' note.data.id %}"
          >
            <i class="fa fa-pencil-square-o text-gray-700" aria-hidden="true"></i>
          </a>
        {% endif %}
        {% if note.type == 'CREATOR' %}
          <span
            data-url="{% url 'notes-delete' note.data.id %}"
            data-confirm-modal
            data-modal-title="Confirm Delete"
            data-modal-text="Do you really want to delete this item?"
            class="cursor-pointer transition-transform hover:scale-110"
          >
            <i class="fa fa-trash text-gray-700" aria-hidden="true"></i>
          </span>
          {% endif %}
        {% endif %}
    </div>
  </div>
  <p class="text-xs max-h-48 overflow-hidden">{{ note.data.note.description }}</p>
  <div class="flex gap-2 overflow-hidden flex-wrap">
    {% for tag in note.data.note.tags.all %}
      {% include 'tags/_tag.html' %}
    {% endfor %}
  </div>
</article>
