{% extends "base.html" %}

{% block content %}
  <div class="p-8">
    <div class="flex w-full justify-between">
      <a href="{% url 'notes-list' %}">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        <span class="hover:underline">Voltar</span>
      </a>
    </div>
    <form action="{% url 'notes-permissions-create' note_id %}" method="post" class="flex gap-2 justify-start items-center mt-6">
      {% csrf_token %}
      <input type="hidden" name="data" id="id_data" value="{{ note_id }}">
      {{ form.user }}
      {{ form.type }}
      <button class="font-bold bg-gray-700 text-white py-2 px-4 rounded shrink-0">Create Permission</button>
    </form>
    <table class="w-full mt-4 border-2 border-gray-300 border-collapse">
      <thead class="bg-gray-300">
        <tr>
          <th class="py-2 px-4">User</th>
          <th class="py-2 px-4">Permission</th>
          <th class="py-2 px-4">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for permission in page_obj %}
            <td class="p-2 border-2 border-gray-300">{{ permission.user }}</td>
            <td class="p-2 border-2 border-gray-300">{{ permission.type }}</td>
            <td class="p-2 border-2 border-gray-300">
              <div class="flex justify-center gap-4 mx-auto">
                <form method="post" action="{% url 'notes-permissions-update' note_id=note_id id=permission.id %}">
                  {% csrf_token %}
                  <input type="hidden" name="type" id="id_type" value="{{ permission.type }}">
                  <button>Change Permission</button>
                </form>
                <span
                  data-url="{% url 'notes-permissions-remove' note_id=note_id id=permission.id %}"
                  data-confirm-modal
                  data-modal-title="Confirm Delete"
                  data-modal-text="Do you really want to delete this item?"
                  class="cursor-pointer transition-transform hover:scale-110"
                >
                  Remove
                </span>
              </div>
            </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}

{% block body %}
  {% include '_confirm_modal.html' with id='confirm' %}
{% endblock %}