{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <script src="{% static 'js/modal.js' %}" defer></script>
    <script src="{% static 'js/form_modal.js' %}" defer></script>
    <script src="{% static 'js/confirm_modal.js' %}" defer></script>
    <script src="{% static 'js/autocomplete.js' %}" defer></script>
    {% block head %} {% endblock %}
    <title>Notes</title>
  </head>
  <body class="font-sans">
    <div class="flex min-h-screen items-stretch">
      <aside
        class="flex flex-col justify-start items-start gap-3 grow-0 bg-gray-300 w-[352px] py-8 pl-4 pr-8"
      >
        <div class="flex gap-2 items-center ml-1">
          <img
            class="rounded-full"
            src="/media/images/profile.jpg"
            alt="Profile picture"
          />
          <div class="flex flex-col">
            <span
              class="text-sm font-bold text-gray-700 text-ellipsis overflow-hidden whitespace-nowrap max-w-60"
            >
              Lucas Nunes B. S.
            </span>
            <span
              class="text-xs text-gray-500 text-ellipsis overflow-hidden whitespace-nowrap max-w-64"
            >
              lucasnunesbarretosampaio@gmail.com
            </span>
          </div>
        </div>
        <div class="w-full h-0.5 bg-gray-400 opacity-25"></div>
        <nav class="ml-1">
          <ul class="flex flex-col gap-2 text-sm text-gray-700">
            <li>
              <a href="{% url 'notes-list' %}">
                <i class="fa fa-file-text" aria-hidden="true"></i> All Notes
              </a>
            </li>
            <li>
              <span><i class="fa fa-users" aria-hidden="true"></i> Shared</span>
            </li>
            <li>
              <a href="{% url 'notes-starreds' %}">
                <i class="fa fa-star" aria-hidden="true"></i> Starred
              </a>
            </li>
            <li>
              <a href="{% url 'notes-list-deleted' %}">
                <i class="fa fa-trash" aria-hidden="true"></i> Trash
              </a>
            </li>
          </ul>
        </nav>
        <div class="flex flex-col w-full">
          <div class="flex justify-between items-center w-full">
            <span class="text-sm text-gray-700 font-bold">Folders</span>
            <i class="fa fa-plus" aria-hidden="true"></i>
          </div>
          <ul class="mx-1">
            <li>
              <span class="text-sm text-gray-700">
                <i class="fa fa-folder" aria-hidden="true"></i> General
              </span>
            </li>
          </ul>
        </div>
        <div class="flex flex-col w-full">
          <div class="flex justify-between items-center w-full">
            <span class="text-sm text-gray-700 font-bold">Tags</span>
            <i
              data-form-modal
              data-url="{% url 'tags-create' %}"
              data-modal-value=""
              data-modal-title="Create Tag"
              class="fa fa-plus cursor-pointer transition-transform hover:scale-110" aria-hidden="true"
            ></i>
          </div>
          <ul class="mx-1">
            {% for tag in tags %}
              <li class="tag-item relative rounded-md hover:bg-gray-400 cursor-pointer">
                <a
                  class="flex justify-between py-2 px-3"
                  href="{% url 'notes-list-tag' tag.id %}"
                >
                  <span
                    class="flex gap-2 items-center text-sm text-gray-700 overflow-hidden max-w-[calc(100%-53px)]"
                  >
                    <i class="fa fa-tag" aria-hidden="true"></i> {{ tag.name }}
                  </span>
                </a>
                <div class="tag-item-hover absolute top-0 right-0 w-max h-full opacity-0">
                  <span class="flex h-full gap-2 justify-end mr-3 items-center text-sm text-gray-700">
                    <i
                      data-form-modal
                      data-url="{% url 'tags-update' tag.id %}"
                      data-modal-title="Update Tag"
                      data-modal-value="{{ tag.name }}"
                      class="fa fa-pencil-square-o text-gray-700 cursor-pointer transition-transform hover:scale-125"
                      aria-hidden="true"
                    ></i>
                    <i
                      data-confirm-modal
                      data-url="{% url 'tags-delete' tag.id %}"
                      data-modal-title="Confirm Delete"
                      data-modal-text="Do you really want to delete this item?"
                      class="fa fa-trash text-gray-700 cursor-pointer transition-transform hover:scale-125"
                      aria-hidden="true"
                    ></i>
                  </span>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </aside>
      <main class="grow bg-gray-200">{% block content %}{% endblock %}</main>
    </div>
    {% block body %} {% endblock %}
    {% include '_form_modal.html' with id='form' %}
  </body>
</html>
